.formulario{
    margin-top: 100px;
}
.formulario .card{
    background: rgba(232, 129, 19, 0.6);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.compra-form-group .form-field{
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: fantasy;
    margin-top: 20px;
}
.compra-form-group Field option{
    background: white;
    color: grey; 
}
.inputs #produto{
    margin-left: 15px;
    font-family: fantasy;
}
.botao{
    background: rgb(50, 232, 47);
    margin-top: 20px;
}