.login{
    margin-top: 100px;
}
.login .card{
    background-color: rgba(232, 129, 19, 0.6);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.login-form-group .form-field{
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: fantasy;
    margin-bottom: 20px;
}
.login-form-group .botao{
    background-color: #d348f3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 20px;
}
h4{
  font-family: fantasy;
  text-align: center;  
}
.form-error{
    background: rgba(185, 4, 4, 0.6);
    color: rgb(243, 239, 239);
}
.form1{
    margin-bottom: 20px;
}